<div class="bg-gray-50 min-h-screen">
  <div class="flex flex-col space-y-6 pt-6 sm:space-y-8 p-3 sm:p-8">
    <div class="flex justify-between">
      <img
        src="../../../assets/images/logo.svg"
        alt="AK BARS Med logo"
        class="block h-8"
      />
      <button
        (click)="logout()"
        class="px-2 py-2 text-gray-400 font-semibold duration-100 hover:text-gray-600 hover:ease-in"
      >
        Выйти
      </button>
    </div>
    <div class="bg-white rounded-lg p-4 md:p-6 w-fit mx-auto drop-shadow-sm">
      <h1 class="text-4xl text-gray-700 font-semibold text-center mb-6">
        Поиск договора
      </h1>

      <form [formGroup]="findForm" (ngSubmit)="find()">
        <div class="flex flex-col space-y-3 mx-auto">
          <div class="flex flex-col space-y-1">
            <input
              type="text"
              placeholder="Номер договора"
              formControlName="contractNumber"
              class="input-field"
            />
            <span
              [hidden]="
                !(
                  findForm.controls['contractNumber'].invalid &&
                  findForm.controls['contractNumber'].touched
                )
              "
              class="error-message"
              >Необходимо ввести минимум 2 символа</span
            >
          </div>
          <div>
            <div class="grid gap-3 grid-cols-2">
              <input
                type="text"
                mask="d0.M0.0000"
                [leadZeroDateTime]="true"
                placeholder="Дата от"
                formControlName="dateFrom"
                class="input-field"
              />
              <input
                type="text"
                mask="d0.M0.0000"
                [leadZeroDateTime]="true"
                placeholder="Дата до"
                formControlName="dateTo"
                class="input-field"
              />
            </div>
            <span
              *ngIf="
                findForm.controls['dateFrom'].touched &&
                findForm.controls['dateTo'].touched &&
                findForm.errors &&
                findForm.errors['diffMoreThanMonth']
              "
              class="error-message"
              >Период должен быть меньше месяца</span
            >
          </div>
          <div class="flex flex-col space-y-1">
            <input
              type="text"
              placeholder="ФИО страхователя"
              formControlName="insurant"
              class="input-field"
            />
            <span
              [hidden]="
                !(
                  findForm.controls['insurant'].invalid &&
                  findForm.controls['insurant'].touched
                )
              "
              class="error-message"
              >Необходимо ввести минимум 3 символа</span
            >
          </div>
          <div class="flex flex-col space-y-1">
            <input
              type="text"
              placeholder="ФИО застрахованного"
              formControlName="insured"
              class="input-field"
            />
            <span
              [hidden]="
                !(
                  findForm.controls['insured'].invalid &&
                  findForm.controls['insured'].touched
                )
              "
              class="error-message"
              >Необходимо ввести минимум 3 символа</span
            >
          </div>
          <input
            type="text"
            placeholder="Номер телефона"
            formControlName="phoneNumber"
            class="input-field"
          />
          <input
            type="text"
            placeholder="Email"
            formControlName="email"
            class="input-field"
          />
          <span *ngIf="errorMessage" class="error-message">{{
            errorMessage
          }}</span>

          <div class="grid grid-cols-3">
            <div></div>
            <button
              [disabled]="findForm.invalid || findForm.pristine"
              class="block rounded font-semibold px-8 py-2 w-fit mx-auto bg-green-500 text-white duration-100 hover:bg-green-600 hover:ease-in disabled:bg-green-300"
            >
              Найти
            </button>
            <button
              type="reset"
              (click)="resetForm()"
              class="block py-2 w-fit justify-self-end font-semibold text-gray-400 duration-100 hover:text-gray-500 hover:ease-in"
            >
              Очистить
            </button>
          </div>
        </div>
      </form>
    </div>

    <div
      class="bg-white rounded-lg space-y-5 p-3 w-full mx-auto drop-shadow-sm"
    >
      <h2 class="text-xl font-semibold text-gray-700">Список договоров</h2>

      <div *ngIf="false">
        <p class="text-xl font-semibold text-gray-400 pb-4 text-center">
          Ничего не найдено
        </p>
      </div>

      <div *ngIf="true" class="overflow-x-auto w-full">
        <table class="tab sticky top-0 w-full">
          <thead class="thead">
            <tr>
              <th scope="col" class="thead-col">№</th>
              <th scope="col" class="thead-col">ФИО страхователя</th>
              <th scope="col" class="thead-col">ФИО застрахованного</th>
              <th scope="col" class="thead-col">Номер договора</th>
              <th scope="col" class="thead-col">Дата заявления</th>
              <th scope="col" class="thead-col">Дата оплаты</th>
              <th scope="col" class="thead-col">Страховая сумма / Премия</th>
              <th scope="col" class="thead-col">Номер телефона</th>
              <th scope="col" class="thead-col"></th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let contract of contracts; let i = index"
              class="tab-row"
            >
              <th scope="row" class="tab-cell">{{ i + 1 }}</th>
              <td class="tab-cell">{{ contract.strahov }}</td>
              <td class="tab-cell">{{ contract.zastr }}</td>
              <td class="tab-cell">{{ contract.dog_nom }}</td>
              <td class="tab-cell">{{ contract.dog_data }}</td>
              <td class="tab-cell">{{ contract.pay_data }}</td>
              <td class="tab-cell">
                {{ contract.strahsum | number: "1.0-2" }} /
                {{ contract.premia | number: "1.0-2" }}
              </td>
              <td class="tab-cell">{{ contract.s_phone }}</td>
              <td class="tab-cell">
                <a
                  href="http://web-api.akbarsmed.ru:8789/PrintPdfMain?as_pdf&guid_contr={{
                    contract.guid_contr
                  }}&id={{ token }}"
                  target="_blank"
                  class="px-2 py-2 text-green-600 font-semibold duration-100 hover:text-green-700 hover:ease-in"
                >
                  Скачать
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="isNothingFound" class="flex">
        <span class="block p-3 mx-auto font-semibold text-gray-400"
          >Ничего не найдено</span
        >
      </div>
      <div *ngIf="isLoading" class="flex">
        <span class="block p-3 mx-auto font-semibold text-gray-400">
          <svg
            aria-hidden="true"
            role="status"
            class="inline mr-3 w-7 h-7 text-white animate-spin"
            viewBox="0 0 100 101"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
              fill="#f3f4f6"
            />
            <path
              d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
              fill="#9ca3af"
            />
          </svg>
        </span>
      </div>
    </div>
  </div>
</div>
